<% include ./partials/header.ejs %>

<div class="main container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="display-4 m-b-2">Projects

        <!--      Start Search Form        -->
<%#
        <form method="GET" action="/projects/search">
          <input class="form-control" id="searchInput" type="text" placeholder="narrow it down" name="search"/>
          <button class="btn btn-secondary" id="search" type="button">Go</button>
        </form> %>

        <!--       End Search Form        -->

      </h1>
    </div>
  </div>
</div>

<div class="container">
      <h1>Most Recent Projects</h1>

        <% for(let i = 0; i < display.length; i++) { %>
        <form action="/profile" method="POST">
          <article class="img-thumbnail">
              <br>
              <h2> <%= display[i].title %> </h1>
              <h2> <input type=hidden name="title" value="<%= display[i].title %>" </h1>
              <p> <%= display[i].field %> </p>
              <p> <input type= hidden name="field" value="<%= display[i].field %>" </p>
              <img src="<%= display[i].image %>" class="img-thumbnail" />
              <img> <input type=hidden name="image" value="<%= display[i].image %>" </img>
              <br>
          <button class="btn btn-success" type="submit" value="<%= display[i].apiId %>"> Inspired </button><br><br>
          </article>
      </form>
      <% } %>
  </div>
</div>

<% include ./partials/footer.ejs %>
